<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="/static/main/css/style.css">
</head>

<body> 
  <div class="header"><table>
<tr><td><ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/phone/">Каталог</a></li>
        <li><a href="#">Контакты</a></li>
    </ul></td>
<td><img src="/static/main/media/logo1.jpg" alt="logo1.jpg">
</td> 

</tr>
</table> </div>
    <hr>
    <h1>Контакты</h1>
    
   
   Телефон: 8-800-8000000 <br>
   E-mail: sales@retrophone.ru
        <br>
Адрес: г. Екатеринбург пл. 1905 года д.1
<br>

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1kKj4WYN3J6HxFvF2DntpHzpdjKLTbAGU" width="320" height="200"></iframe>
<h2>Обратная связь</h2>
<form action="">
    <p>Ваше имя <input type="text" placeholder="Ваше имя" id="name"></p>
    <p>Ваш e-mail <input type="text" placeholder="Ваш e-mail" id="e-mail"></p>
   <p>Текст сообщения</p>
  <textarea name="comment" id="comment"></textarea><br>
  <input type="submit"> <input type="reset" value="Отмена">
</form>
<br><br>
 <div class="footer">
   &copy; «Все права защищены»
  </div>
</body>

</html>