<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет магазин</title>
    <link rel="stylesheet" href="/static/main/css/style.css">
</head>


<body>

 

   
 <div class="header"><table>
<tr><td><ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="/phone/">Каталог</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul></td>
<td><img src="/static/main/media/logo1.jpg" alt="logo1.jpg">
</td> 

</tr>
</table> </div>  
     
       
    <hr>
    <h1><center>***РетроФон***</center></h1>
    
        <h2><center>Добро пожаловать в наш магазин!</center></h2>
    <hr>
     <div class="footer">
   &copy; «Все права защищены»
  </div>
    
</body>

</html>