<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Каталог телефонов</title>
    <link rel="stylesheet" href="/static/main/css/style.css">
</head>

<body>
        <div class="header"><table>
<tr><td><ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li><a href="/contacts/">Контакты</a></li>
    </ul></td>
<td><img src="/static/main/media/logo1.jpg" alt="logo1.jpg">
</td> 

</tr>
</table> </div>

   <hr>
    <h1><center>***Каталог***</center></h1>
    
    <h3>Nokia 3310</h3> 
    <div class="catalog">  
    <img src="/static/main/media/nokia3310-300x300.png" alt="Nokia 3310" id="phone">
<p><!--<a href="catalog/3310.html">Подробно..</a> --> </p>
    <h3>Siemens A35</h3>
    <img src="/static/main/media/siemens-a35-300x300.jpg" alt="Siemens-a35" id="phone">
    <p><!--<a href="catalog/A35.html">Подробно..</a> --></p>
</div> 
    
<br>
     <br>
      <div class="footer">
   &copy; «Все права защищены»
  </div>   
    </body>

</html>